.title_description {
   font-size: 2.8rem;
   line-height: 2;
}

.paragrafo {
   color: var(--very-dark-desaturated);
   line-height: 1.5;
}

@media screen and (max-width: 1000px) {
   .description {
      width: 90vw;
      margin: 5rem auto;
      text-align: center;
   }

   .paragrafo {
      width: 20rem;
      margin: 0 auto;
   }
}

@media screen and (min-width: 1000px) {
   .paragrafo {
      width: 29rem;
   }
}