.wrapper_app_chat {
   max-width: 350px;
   position: relative;
   font-size: 13px;
   line-height: 1.3;
}

.ornamento_top {
   background-color: #FFF;
   border-radius: 0 0 20px 20px;
   width: 150px;
   height: 40px;

   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
}

@media screen and (max-width: 410px) {
   .wrapper_app_chat {
      margin: 3rem .8rem 0;
   }
}

@media screen and (min-width: 411px) and (max-width: 1000px) {
   .wrapper_app_chat {
      margin: 3rem auto 0;
   }
}

@media screen and (min-width: 1000px) {
   .wrapper_app_chat {
      width: 350px;
   }
}